$BACKGROUND_GRAY: #f9f9f9;
$BLACK: #000;
$BLUE_10: #3784fb;
$GRAY_20: #e8e8e8;
$GRAY_40: #b8b8b8;
$GRAY_50: #a6a6a6;
$GRAY_90: #8b8b97;
$GRAY_100: #121212;
$GREEN_10: #18a057;
$PRIMARY: #54408c;
$PRIMARY_10: #391893;
$PRIMARY_LIGHT: #e5def8;
$RED: #ef5a56;
$WHITE: #fff;
$WHITE_10: #faf9fd;
$YELLOW_10: #f5be00;

// SPACING
$SPACING: 5px;
