@import 'globals/colors.scss';

.text-input-container {
  input {
    border-color: $GRAY_50;
    border-radius: 5px;
    border-width: 1px;
    outline: none;
  }

  .focused {
    border-color: $PRIMARY;
  }

  label {
    // color: $PRIMARY;
    font-size: 14px;
  }
}
