@import 'globals/colors.scss';

.text-input-container {
  margin: 10px 0 10px 0;
  input {
    background-color: $BACKGROUND_GRAY;
    border-color: $GRAY_50;
    border-radius: 9px;
    border-width: 0;
    height: $SPACING * 10;
    outline: none;
    padding-left: $SPACING * 3;
    width: 100%;
  }

  .focused {
    border-color: $PRIMARY;
    border-width: 1px;
  }

  label {
    display: block;
    font-size: 12px;
    margin-bottom: $SPACING;
  }
}
